.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, .5);
  padding: 0 19px;
  box-sizing: border-box;
  z-index: 200;
  transition: visibility .5s, opacity .5s;
  visibility: hidden;
  opacity: 0;
}